[awsbatch]
credentials=${credentials}
profile=${profile}
region=${region}
s3_bucket_name=${s3_bucket_name}
batch_queue=${batch_queue}
batch_execution_role_name=${batch_execution_role_name}
batch_job_role_name=${batch_job_role_name}
batch_job_log_group_name=${batch_job_log_group_name}
vcpu=${vcpu}
memory=${memory}
num_gpus=${num_gpus}
retry_attempts=${retry_attempts}
time_limit=${time_limit}
cache_dir=${cache_dir}
poll_freq=${poll_freq}
